/* Custom CSS Reset & Mobile Optimizations */
body {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

input, select, button {
  outline: none;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}